<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h4 class="text-center mt-3">Login</h4>
            <p class="text-center">Kindly fill below information</p>
            <hr>

            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#applicantLogin">Applicant Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#recruiterLogin">Recruiter Login</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <!-- applicant tab -->
                    <div id="applicantLogin" class="tab-pane fade show active">
                        <form class="py-4" [formGroup]="login_form" (ngSubmit)="onSubmit('applicant')">
                            <div class="mb-3">
                                <label class="form-label required">Email</label>
                                <input type="email" class="form-control" placeholder="Enter your email address"
                                    formControlName="email" required>
                                <div *ngIf="f('email')?.invalid && f('email')?.touched">
                                    <small class="text-danger" *ngIf="f('email')?.errors?.['required']">Please
                                        provide email address.</small>
                                    <small class="text-danger" *ngIf="f('email')?.errors?.['email']">Invalid
                                        email format.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Password</label>
                                <div class="input-group">
                                    <input type="{{ password_field_type }}" class="form-control"
                                        placeholder="Enter your password" formControlName="password" required>
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="password_visibility()">
                                        <i class="bi"
                                            [ngClass]="{'bi-eye': password_field_type === 'password', 'bi-eye-slash': password_field_type !== 'password'}"></i>
                                    </button>
                                </div>
                                <div *ngIf="f('password')?.invalid && f('password')?.touched">
                                    <small class="text-danger" *ngIf="f('password')?.errors?.['required']">Password must
                                        be at least 6
                                        character.</small>
                                </div>
                            </div>
                            <div class="d-grid col-6 mx-auto pt-3">
                                <button class="btn btn-primary" type="submit" [disabled]="login_form.invalid">Login</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <p>New user? <a href="" routerLink="/signup">Create an account</a></p>
                        </div>
                    </div>

                    <!-- recruiter tab -->
                    <div id="recruiterLogin" class="tab-pane fade">
                        <form class="py-4" [formGroup]="login_form" (ngSubmit)="onSubmit('recruiter')">
                            <div class="mb-3">
                                <label class="form-label required">Email</label>
                                <input type="email" class="form-control" placeholder="Enter your email address"
                                    formControlName="email" required>
                                <div *ngIf="f('email')?.invalid && f('email')?.touched">
                                    <small class="text-danger" *ngIf="f('email')?.errors?.['required']">Please
                                        provide email address.</small>
                                    <small class="text-danger" *ngIf="f('email')?.errors?.['email']">Invalid
                                        email format.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Password</label>
                                <div class="input-group">
                                    <input type="{{ password_field_type }}" class="form-control"
                                        placeholder="Enter your password" formControlName="password" required>
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="password_visibility()">
                                        <i class="bi"
                                            [ngClass]="{'bi-eye': password_field_type === 'password', 'bi-eye-slash': password_field_type !== 'password'}"></i>
                                    </button>
                                </div>
                                <div *ngIf="f('password')?.invalid && f('password')?.touched">
                                    <small class="text-danger" *ngIf="f('password')?.errors?.['required']">Password must
                                        be at least 6
                                        character.</small>
                                </div>
                            </div>
                            <div class="d-grid col-6 mx-auto pt-3">
                                <button class="btn btn-primary" type="submit" [disabled]="login_form.invalid">Login</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <p>New user? <a href="" routerLink="/signup">Create an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>